/* ON THE TOP */
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(104, 26, 26);
    border-bottom: solid 3px gold;
    padding-bottom: 5px;
}

nav {
    border-bottom: solid 3px gold;
}

ul {
    text-align: right;
}

li {
    display: inline;
    font-size: 1.5rem;
    padding: 20px;
}

a {
    text-decoration: none;
    color: rgb(202, 62, 28);
}

.books {
    padding: 20px;
}

/* DETAILS */

.details {
    text-align: right;
    padding-right: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

/* COVER */

.cover{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: rgb(104, 26, 26);
}

.cover p {
    font-size: 1.2rem;
}
/* FOOTER */

footer {
    font-size: 1.5rem;
    text-align: center;
    border-top: solid 3px gold;
}

@media (min-width: 600px) {
    .book-article {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .details {
        grid-column: 1/2;
        padding-right: 20px;
        border-right: solid gold 2px;
    }
    .cover {
        grid-column: 2/3;
        padding-left: 20px;
        border-left: solid gold 2px;
    }
}